{% extends 'base.html.twig' %}
{% block body %}
<div class="text-center">
<h1 class="text-2xl font-bold">Contact</h1>
<h2 class="text-xl font-bold">Par courrier</h2>
<p>Groupe GEFOR <tr> 7 Rue du Louvre <tr> 75001 PARIS </p>
<h2 class="text-xl font-bold">Par mail</h2>
<p> contact@gefor.com </p>
</div>
{% endblock %}