{% extends 'base.html.twig' %}
{% block content %}
<h1 class="text-2xl text-center font-bold">RGPD</h1>
<p> <b>Template Condition Générale du site</b>  (en prenant en compte le Groupe Gefor, élément en rouge dans le texte, comme exemple)</p>

<p>Nous avons utilisés Gefor comme propriétaire du site, en cas de changement de propriétaire, il faut modifier les mentions en rouge.</p>

<p><b>Données personnelles</b></p>

<p>Dans une logique de respect de la vie privée de ses Utilisateurs, Le Groupe GEFOR s’engage à ce que la collecte et le traitement d’informations personnelles, effectués au sein du présent site, soient effectués conformément à la loi n°78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés, dite Loi » Informatique et Libertés « . A ce titre, le site [gefor.com](http://gefor.com/) fait l’objet d’une déclaration à la CNIL sous le numéro (1581631 v 0).</p>

<p>Conformément à l’article 34 de la loi « Informatique et Libertés « , Le Groupe GEFOR garantit à l’Utilisateur un droit d’opposition, d’accès et de rectification sur les données nominatives le concernant.</p>

<p>L’Utilisateur a la possibilité d’exercer ce droit :</p>

<p>- en utilisant le formulaire de contact mis à sa disposition ;</p>
<p>- en rentrant directement en contact par l’adresse suivante : <a href="mailto:contact@gefor.com">contact@gefor.com</a> ;</p>

<p><b>Limites de responsabilité</b></p>

<p>Les informations diffusées sur le site <a class="text-blue-500 hover:text-blue-700 underline" href="http://gefor.com/">https://www.gefor.com/</a> proviennent de sources réputées fiables.</p>

<p>Toutefois, le Groupe GEFOR ne peut garantir l’exactitude ou la pertinence de ces données. En outre, les informations mises à disposition sur ce site le sont uniquement à titre purement informatif et ne sauraient constituer en aucun cas un conseil ou une recommandation de quelque nature que ce soit.</p>

<p>En conséquence, l’Utilisateur des informations et contenus disponibles sur l’ensemble du site, ne sauraient en aucun cas engager la responsabilité du Groupe GEFOR à quelque titre que ce soit. L’Utilisateur est seul maître de la bonne utilisation, avec discernement et esprit, des informations mises à sa disposition sur le Site.</p>

<p>Par ailleurs, l’Utilisateur s’engage à indemniser le Groupe GEFOR de toutes conséquences dommageables liées directement ou indirectement à l’usage qu’il fait du Service.</p>

<p>Le Groupe GEFOR s’engage néanmoins à mettre en place tous les moyens nécessaires pour garantir la sécurité et la confidentialité des données transmises. L’Utilisateur est informé qu’un ou plusieurs cookies, ne contenant aucune information personnelle, pourront être placés sur son disque dur afin d’assurer son identification.</p>

<p>L’Utilisateur admet connaître les limitations et contraintes propres au réseau internet et, à ce titre, reconnaît notamment l’impossibilité d’une garantie totale de la sécurisation des échanges de données. Le Groupe GEFOR ne pourra pas être tenue responsable des préjudices découlant de la transmission de toute information.</p>

<p>Le Groupe GEFOR ne pourra en aucun cas, dans la limite du droit applicable, être tenue responsable des dommages et/ou préjudices, directs ou indirects, matériels ou immatériels, ou de quelque nature que ce soit, résultat d’une indisponibilité du Service ou de toute Utilisation du Service.</p>
<p>Le terme » Utilisation » doit être entendu au sens large, c’est-à-dire tout usage du site quel qu’il soit, licite ou non.</p>

<p>L’Utilisateur s’engage, d’une manière générale, à respecter l’ensemble de la réglementation en vigueur en France.</p>

<p><b>Réclamation</b></p>

<p>Pour toute réclamation, merci de nous contacter par téléphone au 01 55 35 00 20 ou par mail à l’adresse suivante : contact@gefor.com</p>
<p>Pour rappel, toutes les conditions d’achats se trouvent dans la convention de formation que vous signez avec le financeur public ou privée de votre formation ou dans le contrat de formation professionnelle avec notre organisme quand vous financez vous-même la formation.</p>

<p><b>Médiation de la consommation</b></p>

<p>En cas de litige non résolu par une solution amiable et ayant fait l’objet d’une réclamation écrite adressée par le client consommateur à l’entreprise, vous pouvez soumettre le différend au médiateur de la consommation dont les coordonnées sont accessibles à l’adresse suivante : <a class="text-blue-500 hover:text-blue-700 underline" href="https://mediateur-consommation-afepame.fr/">https://mediateur-consommation-afepame.fr/</a></p>

<p><b>Force majeure</b></p>

<p>La responsabilité du Groupe GEFOR ne pourra être engagée en cas de force majeure ou de faits indépendants de sa volonté.</p>

<p><b>Evolution du présent contrat</b></p>

<p>Le Groupe GEFOR se réserve le droit de modifier les termes, conditions et mentions du présent contrat à tout moment.</p>

<p><b>Durée et résiliation</b></p>

<p>Ces données seront stockées de manière sécurisée et seront supprimées dès le 1er juillet 2023.</p>

<p><b>Droit applicable et juridiction compétente</b></p>

<p>Les règles en matière de droit, applicables aux contenus et aux transmissions de données sur et autour du site, sont déterminées par la loi française. En cas de litige, n’ayant pu faire l’objet d’un accord à l’amiable, seuls les tribunaux français du ressort de la cour d’appel de paris sont compétents.</p>

<p><b>Collecte de données personnelles</b></p>

<p>Nous collectons des données personnelles telles que le nom, le prénom, la ville, la photo, la formation et la date de naissance uniquement dans le cadre de notre projet. </p>

<p>La conservation des messages est nécessaire pour le fonctionnement de l’archivage.</p>

<p><b>Finalité de la collecte des données</b></p>

<p>Les données personnelles collectées sont utilisées exclusivement pour nos projets d’études de Chat&ToDoList et du Trombinoscope dans le cadre de l’épreuve EP4 du brevet SIO 2023 . Nous ne communiquerons pas ces données à des tiers sans votre consentement explicite. Ce sont les mêmes données que celles demandés pour le projet Trombinoscope.</p>
{% endblock %}